*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 81);
}

header{
    padding: 1rem;
    display: flex;
    justify-content: center;
}


.borders{
    border: 2px solid whitesmoke;
}
.container_lg{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.grid_wrapper{
    width: 550px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.box{
    display: flex;
    flex-basis: calc(100% / 10);
}

.active{
    background-color: cyan;
}